body{
	padding: 0;
	margin: 0;
}
.container{
	background-image: url('https://images.unsplash.com/photo-1521143915126-31e3c178cfa8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODl8fGJsYWNrJTIwYW5kJTIwd2hpdGUlMjBtb3VudGFpbnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
	background-repeat: no-repeat;
	background-size: cover;
}
.container .left{
	width: 30%;
	height: 100%;
	display:inline-block;
	background-color: #910d0dcc;
	padding-top: 30px;
}
a{
	text-decoration: none;
}
.container .right{
	width: 68%;
	height:100%;
	display:inline-block;
	position: relative;
}
.left .person-avatar{
	text-align: center;
}
.container .left .person-avatar img{
	width: 152px;
	height: 152px;
	border-radius: 50%;
}
.person-content .person-title{
	text-align: center;
	color: #fff;
}
.person-content .person-subtitle{
	text-align: center;
	color: #fff;
}
.navigation .menu{
	list-style: none;
	padding: 5px 0 5px 0;
}
.navigation .menu a{
	color: #ffffff99;
	text-decoration: none;
}
.navigation .menu a:hover{
	color: #fff;
}

.navigation .menulist{
	padding-left: 103px;
    padding-top: 50px;
}
.navigation .menulist-1{
	padding-top: 30px;
	padding-left: 103px;
}
.right .data{
	position: absolute;
    bottom: 434px;
    left: 63px;
}
.right .heading{
	font-size: 4em;
	color: #910d0dcc;
	font-weight: 600;
}
.right .subheading{
    font-size: 22px;
    color: #910d0dcc;
    font-weight: 600;
    line-height: 36px;
}
.right .home-buttons{
	position: absolute;
    top: 220px;
}
.right .home-buttons a{
	border: 3px solid #910d0dcc;
    padding: 10px;
    color: #910d0dcc;
    font-size: 17px;
    font-weight: 600;
}
.right .home-buttons a:hover{
	background-color: #863e3ecc;
	color: #fff;
}

.block-social{
	padding-left: 98px; 
	padding-bottom: 30px;
}

.block-social .block-title{
	color: #ffffff99;
	padding-bottom: 10px;
}

.block-social .block-title:hover{
	color: #fff;
}

.block-social .social a{
	text-decoration: none;
	color: #ffffff99;
    padding-right: 10px;
}
.block-social .social a:hover{
	color: #fff;
}
